.topnav {
  background: linear-gradient(90deg, rgba(0, 145, 255, 1) 19%, rgba(21, 155, 255, 1) 47%, rgba(8, 236, 255, 1) 100%);
}

.topnav .navs {
  height: 100px;
  text-align: right;
  line-height: 100px;
  font-size: 0;
}

.logo {
  display: block;
  float: left;
}

.logo img {
  width: 314px;
  position: relative;
  top: -45px;
}

.topnav .navs li {
  display: inline-block;
  font-size: 14px;
  height: 90px;
}

.topnav .navs li:hover .link,
.topnav .navs li:hover .userIcon,
.topnav .navs li:hover .cartIcon,
.topnav .navs li:hover .homeIcon {
  color: orange;
}

.topnav .navs .link {
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  color: white;
  border-right: 2px solid orange;
  padding: 0 12px;
}


.topnav .navs li:last-child .link,
.topnav .navs li:first-child .link {
  border: none;
}

.userIcon,
.cartIcon,
.homeIcon {
  position: relative;
  top: 3px;
  color: white;
  font: 22px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif !important;
}