* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body,
.userIcon,
.cartIcon {
  color: #333;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
}